.results-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
	width: 90%;
	margin: 0 auto;

	.hero-div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 30%;
		color: white;
		background-color: white;
		margin-bottom: 70px;
		transition: 1s all;

		img {
			height: 200px;
			width:100%;
		}

		h1 {
			// font-size: 3em;
			color: black;
			text-align: center;
		}
		&.active {
			width:100%;
			img {
				width:30%;
			}
		}
	}
}