.results-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
	width: 90%;
	margin: 0 auto;

	.hero-div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 30%;
		color: black;
		background-color: white;
		margin-bottom: 70px;
		transition: 1s all;

		img {
			height: 200px;
			width:100%;
		}

		h1 {
			// font-size: 3em;
			color: black;
			text-align: center;
		}
		&.active {
			flex-direction: row;
			width:100%;
			img {
				width:30%;
			}
		}

		.hero-description {
			display: none;
			color: black;
			max-width: 50%;
		}

		.show{
			display: block;
		}
	}
}